@font-face {
    font-family: "Krugmann Brush";
    src: url("../assets/fonts/KRUGMANNBRUSH.TTF");
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("../assets/fonts/GLACIALINDIFFERENCE-REGULAR.TTF");
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.h_title {
    position: relative;
    font-family: Krugmann Brush;
    font-size: 23rem;
    color: #f34a28;
    transform: rotate(-12deg);
    text-align: center;
    top: 12rem;
    left: 8%;
}

.h_bg {
    background-image: url("../assets/pic/h_bg.jpg");
    background-size: 115%;
    background-position-x: -150px;
    background-repeat: no-repeat;
}

.t1 {
    width: 100%;
    height: 25px !important;
    background: #f34a28;
    position: absolute;
    top: 12rem;
}

.t2 {
    width: 100% !important;
    height: 25px;
    background: #f34a28;
    position: absolute;
    top: 90%;
    left: 55%;
    padding-left: 18%;
    color: white;
    font-family: Glacial Indifference;
    font-size: 0.9em;
}

.homebutton {
    padding-top: 20%;
    padding-left: 6%;
    color: #f34a28;
    font-family: Glacial Indifference;
    font-size: 1.48em;
    font-weight: bold;
}